<footer class="bg-grey-4 ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<a href="/" class="link">
				<img src="/img/logo.png" alt="Kaldi logo" class="db w4 center mb4 br0">
			</a>

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Voor onze leden</h3>
				<ul class="mb3">
					<li><a href="/jeugd" class="link">Jeugd</a></li>
					<li><a href="/senioren" class="link">Senioren</a></li>
					<li><a href="/activiteiten" class="link">Activiteiten</a></li>
					<li><a href="/lidmaatschap" class="link">Lidmaatschap</a></li>
					<li><a href="/afgelastingen" class="link">Afgelastingen</a></li>
					<li><a href="/oud-papier" class="link">Oud papier</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Voor onze bezoekers</h3>
				<ul class="mb3">
					<li><a href="/clubinfo" class="link">Clubinfo</a></li>
					<li><a href="/contact" class="link">Contact en route</a></li>
				</ul>
				<h3 class="f4 b lh-title mb1 primary">Voor onze vrienden</h3>
				<ul class="mb3">
					<li><a href="/supportersvereniging" class="link">Supportersvereniging</a></li>
					<li><a href="/sponsoring" class="link">Sponsoring</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/vvschijf.activiteiten?fref=ts" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/vvschijf" "svg" "icons-twitter") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
