<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w8 flex-none">
		<img src="/img/logo.png" alt="vvSchijf logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b primary">
		<li><a href="/lidmaatschap" class="pa3 no-underline db">Lidmaatschap</a></li>

		<li><a href="/afgelastingen" class="pa3 no-underline db">Afgelastingen</a></li>

		<li><a href="/oud-papier" class="pa3 no-underline db">Oud papier</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
