<!-- Logo -->
<a href="/" class="pa3 dn-ns">
	<img src="/files/logo.png" alt="vv Schijf logo" class="br0 db mb0 w4-l w3-m w4"/>
</a>
<nav class="flex justify-between items-center center">
	<!-- Logo -->
	<a href="/" class="pa3 dn h-100 flex-ns">
		<img src="/files/logo.png" alt="vvSchijf logo" class="br0 db mb0 w4-l w3-m w4"/>
	</a>
	<ul class="b primary flex flex-wrap mw8 justify-between-ns">
		<li><a title="Home" href="/" class="pv3 ph2 ph3-l no-underline underline-hover db f6 f5-l"><i class="fas fa-home"></i></a></li>
		<li><a href="/clubinfo" class="pv3 ph2 ph3-l no-underline underline-hover db f6 f5-l">Clubinfo</a></li>
		<li><a href="/teams" class="pv3 ph2 ph3-l no-underline underline-hover db f6 f5-l">Teams</a></li>
		<li><a href="/contact" class="pv3 ph2 ph3-l no-underline underline-hover db f6 f5-l">Contact</a></li>
		<li><a href="/routebeschrijving" class="pv3 ph2 ph3-l no-underline underline-hover db f6 f5-l">Route</a></li>
		<li><a title="Facebook" href="https://www.facebook.com/vvschijf.activiteiten?fref=ts" rel="noopener" target="_blank" class="pv3 ph2 no-underline underline-hover db f6 f5-l"><i class="fab fa-facebook"></i></a></li>
		<li><a title="Twitter" href="https://twitter.com/rkvvschijf" rel="noopener" target="_blank" class="pv3 ph2 no-underline underline-hover db f6 f5-l"><i class="fab fa-twitter"></i></a></li>
		<li><a title="Menu" href="#footer" class="pv3 ph2 no-underline underline-hover db f6 f5-l"><i class="fa fa-bars"></i></a></li>
	</ul>
</nav>
