{{ if gt .Paginator.TotalPages 1 }}

<nav class="cf pa3">
    {{ if .Paginator.HasNext }}
    <a class="fl dib link dim black f6 f5-ns b pa2" title="Volgende pagina" href="{{ .Paginator.Next.URL }}">
        &larr; Vorige
    </a>
    {{ end }}
    <div class="pagination">
        {{ if .Paginator.HasPrev }}
        <a class="fl dib link dim black f6 f5-ns b pa2" title="Vorige pagina" href="{{ .Paginator.Prev.URL }}">
            Volgende &rarr;
        </a>
        {{ end }}
    </div>
</nav>

{{ end }}
