/* when checkbox is checked, display menu (sibling element) */
#burger:checked ~ .mobile-menu {
    display: block;
    z-index: 100;
    background-color: var(--vvschijf-yellow);
    top: 145px;
}

#burger ~ label {
    cursor: pointer;
}

#burger:checked ~ label {
    cursor: pointer;
}

#burger:hover ~ label {
    background-color: var(--primary-light);
}
