table {
  border-radius: var(--border-radius);
  overflow: scroll;
  font-size: var(--font-size-s);
  margin: var(--spacing-medium) 0;
}

td, th {
  padding: var(--spacing-extra-small);
  white-space: nowrap;
}

th {
  color: var(--grey-3);
  font-weight: 900;
  border-bottom: 1px;
  border-style: solid;
}

tr th {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: var(--grey-1);
}


@media screen and (max-width: 900px) {
  table {
    border: 0;
    width: 100%;
  }

  table thead {
    display: none;
  }

  table tr {
    border-bottom: 2px solid var(--grey-3);
    display: block;
  }

  table td {
    border-bottom: 1px solid var(--grey-2);
    display: block;
    text-align: left;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:first-child {
    font-weight: 900;
  }
}
