<!doctype html>
<html lang="{{ $.Site.Language.Lang }}" class="bg-site">
  {{ partial "head" . }}
  <body class="sans-serif bg-site">
    <div class="ma3 shadow-5 ph3 bg-white">

      {{ block "header" . }}{{ partial "nav" . }}{{end}}

      {{ block "main" . }}{{ end }}

      {{ partial "banners" . }}

      {{ block "footer" . }}{{ partial "footer" . }}{{end}}
    </div>
    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
