{{ define "main" }}
    {{ partial "header-images" (dict "title" .Title) }}

    <div class="mw6 center ph3 pv4">
        {{ if .Date }}
            <div class="flex justify-between grey-3">
                <p class="mid-gray lh-title mb2">{{ .Date.Format "02-01-2006" }}</p>
            </div>
        {{ end }}
        <div class="cms mw6">
            <p><em>{{ .Description }}</em></p>
            {{ if .Params.image }}
                <img src="{{ .Params.image }}" />
            {{ end }}

            {{ .Content }}

            {{ if .Params.download }}
                <p>
                    <a href="{{ .Params.download }}">{{ path.Base .Params.download }}</a>
                </p>
            {{ end }}

            {{ if .Params.images }}
                <div class="flex-ns mhn2-ns mb3" id="lightbox-images">
                    {{ range $elem_key, $elem_val := .Params.images }}
                        <div class="ph2-ns w-50-ns">
                            <a href="#img-{{ $elem_key }}"><img src="{{$elem_val.image}}" alt="" class="center db mb3" style="width: 240px"></a>
                        </div>
                    {{ end }}
                </div>
                <div>
                    {{ range $elem_key, $elem_val := .Params.images }}
                        <div class="dn lightbox" id="img-{{ $elem_key }}">
                            <a href="#lightbox-images" class="tr db no-underline underline-hover close">X</a>
                            <img src="{{$elem_val.image}}" alt="" class="center db mb3">
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}
