{{ define "main" }}

{{ partial "header-images" (dict "title" .Title) }}

<div class="ph3 bg-off-white">
	<div class="center mw7 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db center mb3">

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.0277352639964!2d4.560251915909391!3d51.49435851947741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c41a3575a4f59f%3A0xc5afed3f1d9afa57!2sVV%20Schijf!5e0!3m2!1snl!2snl!4v1605869851185!5m2!1snl!2snl" class="w-100 mb4" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

		{{ .Content }}

	</div>
</div>

{{ end }}
