{{ define "main" }}

{{ partial "header-images" (dict "title" .Title) }}

<div class="ph3 bg-off-white">
	<div class="center mw7 pv3">

		{{ .Content }}

		<h2 class="f4 b lh-title mb2 primary">Topsponsor</h2>
		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range .Params.top }}
				<div class="ph2-ns mb4">
					{{ if .link }}<a title="{{ .title }}" href="{{ .link }}" rel="noopener" target="_blank"><img alt="{{ .title }}" src="{{ .image }}"></a>{{ else }}<img alt="{{ .title }}" src="{{ .image }}">{{ end }}
				</div>
			{{ end }}
		</div>

		<h2 class="f4 b lh-title mb2 primary">Kleding</h2>
		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range .Params.clothing }}
				<div class="ph2-ns mb4">
					{{ if .link }}<a title="{{ .title }}" href="{{ .link }}" rel="noopener" target="_blank"><img alt="{{ .title }}" src="{{ .image }}"></a>{{ else }}<img alt="{{ .title }}" src="{{ .image }}">{{ end }}
				</div>
			{{ end }}
		</div>

		<h2 class="f4 b lh-title mb2 primary">Reclamebord</h2>
		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range .Params.boarding }}
				<div class="ph2-ns mb4">
					{{ if .link }}<a title="{{ .title }}" href="{{ .link }}" rel="noopener" target="_blank"><img alt="{{ .title }}" src="{{ .image }}"></a>{{ else }}<img alt="{{ .title }}" src="{{ .image }}">{{ end }}
				</div>
			{{ end }}
		</div>

		<h2 class="f4 b lh-title mb2 primary">Wedstrijdbal</h2>
		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range .Params.ball }}
				<div class="ph2-ns mb4">
					{{ if .link }}<a title="{{ .title }}" href="{{ .link }}" rel="noopener" target="_blank"><img alt="{{ .title }}" src="{{ .image }}"></a>{{ else }}<img alt="{{ .title }}" src="{{ .image }}">{{ end }}
				</div>
			{{ end }}
		</div>

		<h2 class="f4 b lh-title mb2 primary">Materiaalsponsor</h2>
		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range .Params.materials }}
				<div class="ph2-ns mb4">
					{{ if .link }}<a title="{{ .title }}" href="{{ .link }}" rel="noopener" target="_blank"><img alt="{{ .title }}" src="{{ .image }}"></a>{{ else }}<img alt="{{ .title }}" src="{{ .image }}">{{ end }}
				</div>
			{{ end }}
		</div>

		<h2 class="f4 b lh-title mb2 primary">Websitesponsor</h2>
		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range .Params.website }}
				<div class="ph2-ns mb4">
					{{ if .link }}<a title="{{ .title }}" href="{{ .link }}" rel="noopener" target="_blank"><img alt="{{ .title }}" src="{{ .image }}"></a>{{ else }}<img alt="{{ .title }}" src="{{ .image }}">{{ end }}
				</div>
			{{ end }}
		</div>

		<h2 class="f4 b lh-title mb2 primary">Kantinesponsor</h2>
		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range .Params.canteen }}
				<div class="ph2-ns mb4">
					{{ if .link }}<a title="{{ .title }}" href="{{ .link }}" rel="noopener" target="_blank"><img alt="{{ .title }}" src="{{ .image }}"></a>{{ else }}<img alt="{{ .title }}" src="{{ .image }}">{{ end }}
				</div>
			{{ end }}
		</div>

		{{ partial "sponsoring-form" . }}

	</div>
</div>

{{ end }}
