{{ define "main" }}

{{ partial "header-images" (dict "title" .Params.blurb.heading "subtitle" .Params.blurb.text) }}

{{ partial "news" . }}

{{ partial "top-sponsor" . }}

<div class="bg-off-white pv4">
    <div class="ph3 mw7 center flex-ns">
        <div class="ph2-ns w-50-ns">
            <iframe class="w-100 bw0" loading="lazy" height="620" data-tweet-url="https://twitter.com/rkvvschijf" src="data:text/html;charset=utf-8,%3Ca%20class%3D%22twitter-timeline%22%20href%3D%22https%3A//twitter.com/rkvvschijf%3Fref_src%3Dtwsrc%255Etfw%22%3ETweets%20by%20rkvvschijf%3C/a%3E%0A%3Cscript%20async%20src%3D%22https%3A//platform.twitter.com/widgets.js%22%20charset%3D%22utf-8%22%3E%3C/script%3E%0A"></iframe>
        </div>
        <div class="ph2-ns w-50-ns tc">
            <iframe class="bw0" loading="lazy" height="620" width="215" id="knvb"></iframe>
            <script type="text/javascript" defer>
                let script = document.createElement('script');
                script.src = 'https://knvbwidget.sportlink.com/widget_js.php?soort=vereniging-staand&clubcode=BBHY62M&breedte=215';
                script.onload = () => {
                    document.getElementById('knvb').src = url;
                };
                document.body.append(script);
            </script>
        </div>
    </div>
</div>

{{ end }}
