{{ define "main" }}

{{ partial "header-images" (dict "title" .Params.blurb.heading "subtitle" .Params.blurb.text) }}

{{ partial "news" . }}

{{ partial "top-sponsor" . }}

<div class="bg-off-white pv4">
    <div class="ph3 mw7 center flex-ns">
        <div class="ph2-ns w-50-ns">
            <a class="twitter-timeline" rel="noopener" target="_blank" data-lang="nl" data-theme="light" data-tweet-limit="5" href="https://twitter.com/vvschijf?ref_src=twsrc%5Etfw">Tweets van @vvschijf</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="ph2-ns w-50-ns">
            <script type='text/javascript'
                    src='https://knvbwidget.sportlink.com/widget_js.php?soort=vereniging-staand&clubcode=BBHY62M&breedte=180'>
            </script>
            <script type='text/javascript'>
              showWidget();
            </script>
        </div>
    </div>
</div>

{{ end }}
